{% extends 'uquery/base.html' %}
{% block content %}
<table border="1" class="dataframe table table-bordered table-striped table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id_1</th>
      <th>id_2</th>
      <th>id_3</th>
      <th>name_Bill</th>
      <th>name_John</th>
      <th>name_Kate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
{% endblock %}
